-# エラーメッセージ
%ul
  - task.errors.full_messages.each do |message|
    %li= message
-# フォーム
= form_with model: [board,task], local: true do |f|
  .field.form__item
    = f.label :eyecatch, 'Eyecatch'
    %br
    = f.file_field :eyecatch, class: 'form__eyecatch'
  .field.form__item
    = f.label :name, 'Name',class: 'form__title'
    %br
    = f.text_field :name, class: 'form__text'
  .field.form__item
    = f.label :description, 'Description',class: 'form__title'
    %br
    = f.text_area :description, class: 'form__text form__text-ara'
  .form__btn
    = f.submit 'Submit', class: 'form__btn-text'