.container
  .post
    .post__head
      %h2
        = @task.name
      -if user_signed_in? && current_user.tasks.exists?(id: @task)
        .dropdown.post__dropdown.post__dropdown--title
          %button.three-dot-leader
            %span.dot
              .dropdown-content
                = link_to 'Edit', edit_board_task_path(id: @task.id)
                = link_to 'Delete', board_task_path(id: @task.id), data: { turbo_method: "delete", turbo_confirm: '本当に削除しても宜しいですか？' }
    - if @task.eyecatch.present?
      .post__img-box
        = image_tag @task.eyecatch, class: 'post__img'
    .post__item
      %p.post__text.post__text--first
        = @task.description
  .post
    %h2 Comment
    -@comments.each do |comment|
      %p.post__text
        = comment.description
  -if user_signed_in?
    .post
      = link_to('+ Add new comment', new_board_task_comment_path(task_id: @task.id), class: 'post__new-link')
