!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Todo
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.header
      %h1.header__title
        = link_to('Boards', root_path)
      - if user_signed_in?
        .dropdown
          = image_tag 'default-avatar', alt: 'サンプル画像', class:"header__img"
          .dropdown-content
            = link_to 'logout', destroy_user_session_path, data: { turbo_method: :delete }
      - else
        = link_to 'login', new_user_session_path, class: 'header__btn'
    - if flash.present?
      -# flashはハッシュ
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
